html,
body,
#LAY_app {
  height: 100%;
}

#LAY-id-user-login,
.layadmin-user-display-show {
  display: block !important;
}
.layadmin-user-login {
  position: relative;
  left: 0;
  top: 0;
  padding: 110px 0;
  min-height: 100%;
  box-sizing: border-box;
}
.layadmin-user-login-main {
  width: 375px;
  margin: 0 auto;
  box-sizing: border-box;
}
.layadmin-user-login-box {
  padding: 20px;
}
.layadmin-user-login-header {
  text-align: center;
}
.layadmin-user-login-header h2 {
  margin-bottom: 10px;
  font-weight: 300;
  font-size: 30px;
  color: #000;
}
.layadmin-user-login-header p {
  font-weight: 300;
  color: #999999;
}
.layadmin-user-login-body .layui-form-item {
  position: relative;
}
.layadmin-user-login-icon {
  position: absolute;
  left: 1px;
  top: 1px;
  width: 38px;
  line-height: 36px;
  text-align: center;
  color: #d2d2d2;
}
.layadmin-user-login-body .layui-form-item .layui-input {
  padding-left: 38px;
}
.layadmin-user-login-codeimg {
  max-height: 38px;
  width: 100%;
  cursor: pointer;
  box-sizing: border-box;
  border: 1px solid #e6e6e6;
}
.layadmin-user-jump-change {
  float: right;
}
.layadmin-user-login-other {
  position: relative;
  font-size: 0;
  line-height: 38px;
  padding-top: 20px;
}
.layadmin-user-login-other > * {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  font-size: 14px;
}
.layadmin-user-login-other .layui-icon {
  position: relative;
  top: 2px;
  font-size: 26px;
}
.layui-icon-login-wechat {
  color: #4daf29;
}
.layui-icon-login-weibo {
  color: #cf1900;
}
.layadmin-user-login-footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  line-height: 30px;
  padding: 20px;
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
}
.layadmin-user-login-footer a {
  padding: 0 5px;
  color: inherit;
}
