/* 本文件为内容页通用样式 */

.layui-fluid {
  padding: 10px;
}
.layui-card-header .layui-icon {
  line-height: initial;
  position: absolute;
  right: 15px;
  top: 50%;
  margin-top: -7px;
}
.layadmin-loading {
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -16px -15px;
  font-size: 30px;
  color: #c2c2c2;
}
.layui-card .layui-table-view {
  margin: 0;
}
.layui-form[wid100] .layui-form-label {
  width: 100px;
}
.layui-form[wid100] .layui-input-block {
  margin-left: 130px;
}

/***************
  首页 home.html
 ***************/

/* 重置轮播样式 */
.layadmin-carousel {
  height: 185px !important;
  background-color: #fff;
}
.layadmin-carousel > *[carousel-item] > * {
  background-color: #fff;
}
.layadmin-carousel .layui-col-space10 {
  margin: 0;
}
.layadmin-carousel .layui-carousel-ind {
  position: absolute;
  top: -41px;
  text-align: right;
}
.layadmin-carousel .layui-carousel-ind ul {
  background: none;
}
.layadmin-carousel .layui-carousel-ind li {
  background-color: #e2e2e2;
}
.layadmin-carousel .layui-carousel-ind li:hover {
  background-color: #c2c2c2;
}
.layadmin-carousel .layui-carousel-ind li.layui-this {
  background-color: #999999;
}

/* 快捷方式 */
.layadmin-shortcut li {
  text-align: center;
}
.layadmin-shortcut li .layui-icon {
  display: inline-block;
  width: 100%;
  height: 60px;
  line-height: 60px;
  text-align: center;
  border-radius: 2px;
  font-size: 30px;
  color: #333333;
  background-color: #f8f8f8;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
}
.layadmin-shortcut li:hover .layui-icon {
  background-color: #f2f2f2;
}
.layadmin-shortcut li cite {
  position: relative;
  top: 2px;
  display: block;
  color: #666;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-size: 14px;
}

/* 待办事项 */
.layadmin-backlog .layadmin-backlog-body {
  display: block;
  padding: 10px 15px;
  background-color: #f8f8f8;
  color: #666;
  border-radius: 2px;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
}
.layadmin-backlog-body h3 {
  padding-bottom: 10px;
  font-size: 12px;
}
.layadmin-backlog-body p cite {
  font-style: normal;
  font-size: 30px;
  font-weight: 300;
}
.layadmin-backlog-body:hover {
  background-color: #f2f2f2;
}

/* 数据概率 */
.layadmin-dataview {
  height: 332px !important;
}
.layadmin-dataview > *[carousel-item]::before {
  display: none;
}
.layadmin-dataview > *[carousel-item] > div {
  height: 332px;
}

/* 效果报告 */
.layadmin-takerates {
  padding-top: 5px;
}
.layadmin-takerates .layui-progress {
  margin: 50px 0 60px;
}
.layadmin-takerates .layui-progress:last-child {
  margin-bottom: 10px;
}
.layadmin-takerates .layui-progress h3 {
  position: absolute;
  right: 0;
  top: -35px;
  font-size: 14px;
  color: #999999;
}
.layadmin-takerates .layui-progress-bar {
  text-align-last: left;
}
.layadmin-takerates .layui-progress-text {
  top: -35px;
  line-height: 26px;
  font-size: 26px;
}

/* 产品动态 */
.layadmin-news {
  height: 60px !important;
}
.layadmin-news a {
  display: block;
  line-height: 60px;
  text-align: center;
}

/* 作者心语 */
.layadmin-text p {
  margin-bottom: 10px;
  text-indent: 2em;
}
.layadmin-text p:last-child {
  margin: 0;
}

/**********
  主页一
 ***********/
.layadmin-update-logs a:hover,
.layadmin-card-link a:hover,
.layadmin-components span:hover {
  color: #1e9fff !important;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
}
/* 最近更新 */
.layui-card-header .layui-a-tips {
  position: absolute;
  right: 15px;
}
.layadmin-update-logs {
  background-color: #f8f8f8;
  color: #777;
  padding: 24px;
}
.layadmin-update-logs .layadmin-text-top {
  padding-bottom: 10px;
}
.layadmin-update-logs .layadmin-text-top a {
  line-height: 24px;
  font-size: 16px;
  vertical-align: top;
}
.layadmin-update-logs .layadmin-text-top i {
  color: #009688;
  margin-right: 10px;
  font-size: 24px;
}
.layadmin-update-logs .layadmin-text-center {
  height: 44px;
  line-height: 22px;
  margin-bottom: 10px;
  overflow: hidden;
}
.layadmin-update-logs .layadmin-text-bottom {
  position: relative;
}
.layadmin-update-logs .layadmin-text-bottom a {
  color: inherit;
  font-size: 12px;
  text-overflow: ellipsis;
  word-break: break-all;
}
.layadmin-update-logs .layadmin-text-bottom span {
  color: #ccc;
  font-size: 12px;
  position: absolute;
  right: 0;
}

/* 用户动态 */
.layadmin-user-news {
  padding: 0 10px;
}
.layadmin-user-news dd {
  padding: 15px 0;
  border-bottom: 1px solid #eee;
  display: flex;
  display: -webkit-flex;
}
.layadmin-user-news dd .layadmin-avatar-img,
.layadmin-components .layadmin-cpn-img {
  width: 32px;
  height: 32px;
  margin-right: 15px;
}
.layadmin-user-news dd .layadmin-avatar-img a {
  width: 100%;
  height: 100%;
  line-height: 32px;
  display: inline-block;
  text-align: center;
}
.layadmin-user-news dd .layadmin-avatar-img img,
.layadmin-components .layadmin-cpn-img img {
  width: 100%;
  height: 100%;
}
.layadmin-user-news dd div span {
  color: #ccc;
}

/* 便捷导航 */
.layadmin-card-link {
  padding-left: 10px;
  font-size: 0;
}
.layadmin-card-link a {
  display: inline-block;
  width: 25%;
  color: #666666;
  font-size: 14px;
  margin-bottom: 12px;
}
.layadmin-card-link button {
  vertical-align: top;
}

/* 重点组件 */
.layadmin-components li {
  padding: 10px 0 10px 10px;
}
.layadmin-components span {
  color: #666666;
}
.layadmin-components .layadmin-cpn-img {
  display: inline-block;
  margin-right: 8px;
  width: 24px;
  height: 24px;
  line-height: 24px;
  text-align: center;
}

/**********
  主页二
 ***********/
.layadmin-badge {
  position: absolute;
  top: 50%;
  right: 15px;
  margin-top: -9px;
}
.layadmin-card-list {
  padding: 15px;
}
.layadmin-card-list p.layadmin-big-font {
  font-size: 36px;
  color: #666666;
  line-height: 36px;
  padding: 5px 0 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  white-space: nowrap;
}
.layadmin-card-list p.layadmin-normal-font {
  padding-bottom: 10px;
  font-size: 20px;
  color: #666666;
  line-height: 24px;
}
.layadmin-span-color {
  font-size: 14px;
  position: absolute;
  right: 15px;
}
.layadmin-span-color i {
  padding-left: 5px;
}
.layadmin-btn-group {
  position: absolute;
  right: 15px;
}
.layadmin-usernotes {
  padding: 0 10px;
}
.layadmin-usernotes li {
  position: relative;
  padding: 10px 0;
  border-bottom: 1px solid #eee;
}
.layadmin-usernotes li h3 {
  padding-bottom: 5px;
  font-weight: 700;
}
.layadmin-usernotes li p {
  padding-bottom: 10px;
}
.layadmin-usernotes li > span {
  color: #999999;
}
.layadmin-usernotes li:hover .layadmin-reply {
  display: block;
}
.layadmin-usernotes .layadmin-reply {
  display: none;
  position: absolute;
  right: 0;
  bottom: 12px;
}

/**********
  用户列表
 ***********/
.layui-card-header.layadmin-card-header-auto {
  padding-top: 15px;
  padding-bottom: 15px;
  height: auto;
}
.layadmin-card-header-auto .layui-form-item:last-child {
  margin-bottom: 0;
}
.layadmin-card-header-auto i.layadmin-icon-search-btn {
  position: relative;
  right: 0;
  top: 0;
  vertical-align: middle;
}

/**********
  个人主页
 ***********/
.layadmin-homepage-panel {
  margin-bottom: 10px;
}
.layadmin-homepage-shadow {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  background-color: #fff;
  border-radius: 0;
  border: 1px solid #e7ecf3;
}
.layadmin-homepage-pad-ver {
  padding: 15px 0;
}
.layadmin-homepage-pad-img {
  box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.1);
}
.layadmin-homepage-font {
  font-weight: 600;
  color: #2b425b;
  font-size: 1.2em;
}
.layadmin-homepage-min-font {
  margin: 5px 0 10px;
  color: #afb9c3;
  font-size: 0.9em;
}
.layadmin-homepage-pad-ver i {
  line-height: 1.1em;
  font-size: 1.3em;
  vertical-align: middle;
  cursor: pointer;
  padding: 5px;
}
.layadmin-homepage-pad-ver i:hover {
  background-color: #42b983;
  color: #ffffff;
}
.layadmin-homepage-about {
  padding: 15px;
  font-weight: 600;
  color: #2b425b;
}
.layadmin-homepage-list-group {
  font-size: 0.9em;
  line-height: 1.25;
  margin-bottom: 5px;
}
.layadmin-homepage-list-group li {
  padding: 5px 15px;
  border: 1px solid transparent;
  margin-bottom: -1px;
  border-width: 1px 0;
  border-radius: 0;
}
.layadmin-homepage-list-group li i {
  font-size: 1.333em;
  line-height: 1.095em;
  vertical-align: middle;
  margin-right: 4px;
}
.layadmin-homepage-pad-hor {
  padding: 0 15px;
  color: #758697;
  text-indent: 20px;
}
.layadmin-homepage-list-inline {
  margin: 0 15px;
  padding-bottom: 20px;
}
.layadmin-homepage-list-inline .layui-btn {
  font-size: 0.9em;
  line-height: 1.42857;
  vertical-align: middle;
  height: auto;
  padding: 4px 7px;
  margin: 0 10px 10px 0;
}
.layadmin-homepage-content {
  margin-left: 15px;
  padding: 0;
}
.layadmin-homepage-pad15 {
  padding: 15px;
  margin-bottom: 15px;
}
.layadmin-section-xs {
  margin: 12px 0;
  color: inherit;
  border: none;
  height: 0;
  box-sizing: border-box;
}
.layadmin-homepage-pad8 {
  padding: 0 8px;
}
.layadmin-homepage-text-center {
  text-align: center;
  margin-bottom: 15px;
}
.layadmin-homepage-content .h4 {
  font-size: 16px;
  font-weight: 600;
  color: #2b425b;
}
.layadmin-homepage-content .layui-icon-rate-solid {
  color: #ffb800;
  padding-right: 5px;
}
.layadmin-homepage-pad15 .layui-btn-normal {
  margin: 0 15px;
}
.layadmin-homepage-list-imgtxt .panel-body {
  padding: 15px 20px 25px;
  overflow: hidden;
  margin-bottom: 15px;
}
.layadmin-homepage-list-imgtxt .panel-body .layui-float-left {
  display: block;
  vertical-align: top;
  padding-right: 10px;
}
.layadmin-homepage-list-imgtxt .media-body {
  width: auto;
  display: block;
  overflow: hidden;
}
.layadmin-homepage-list-imgtxt .media-body .pad-btm {
  padding-bottom: 15px;
}
.layadmin-homepage-list-imgtxt .media-body .pad-btm p:first-child {
  padding-bottom: 5px;
}
.layadmin-homepage-list-imgtxt .media-body .pad-btm .fontColor a {
  font-weight: 600;
  color: #337ab7;
}
.layadmin-homepage-list-imgtxt .media-body .pad-btm .fontColor span {
  color: #758697;
  font-weight: 600;
}
.layadmin-homepage-list-imgtxt .media-body .pad-btm .min-font {
  margin-bottom: 10px;
}
.layadmin-homepage-list-imgtxt .media-body .pad-btm .min-font .layui-breadcrumb i {
  font-size: 12px;
  padding-right: 5px;
}
.layadmin-homepage-list-imgtxt .media-body .pad-btm .min-font .layui-breadcrumb a {
  font-size: 12px;
}
.layui-breadcrumb span[lay-separator] {
  margin: 0 5px;
}
.layadmin-homepage-list-imgtxt .media-body .h-img {
  display: block;
  max-width: 100%;
  height: auto;
  margin-top: 10px;
}
.layadmin-homepage-list-imgtxt .media-body .media {
  margin-top: 15px;
  overflow: hidden;
}
.layadmin-homepage-list-imgtxt .panel-body .media-left {
  display: block;
  float: left;
  vertical-align: top;
  padding-right: 10px;
}
.layadmin-homepage-list-imgtxt .media-body .media .media-left {
  overflow: hidden;
  width: auto;
}
.layadmin-homepage-list-imgtxt .media-body .media .media-right {
  float: right;
  padding-top: 10px;
}
.layadmin-homepage-list-imgtxt .media-body .media .media-right .list-inline {
  margin-bottom: 10px;
}
.layadmin-homepage-list-imgtxt .media-body .media .list-inline li {
  padding: 0 5px;
  display: inline-block;
}
.layadmin-homepage-list-imgtxt .media-body .media .list-inline li span {
  font-weight: 600;
}
.layadmin-homepage-list-imgtxt .media-body .media-list {
  padding-top: 15px;
  margin-top: 15px;
  border-top: 1px solid #e9e9e9;
}
.layadmin-homepage-list-imgtxt .media-body .media-list .media-item {
  padding-bottom: 15px;
}
.layadmin-homepage-list-imgtxt .media-body .media-list .media-item-left {
  display: inline-block;
  padding-right: 10px;
  margin-bottom: 5px;
}
.layadmin-homepage-list-imgtxt .media-body .media-list .media-item-left img {
  display: block;
  float: left;
}
.layadmin-homepage-list-imgtxt .media-body .media-list .media-text {
  display: inline-block;
  width: auto;
  overflow: hidden;
}
.layadmin-homepage-list-imgtxt .media-body .media-list .media-text a {
  margin-right: 10px;
  font-weight: 600;
  display: inline-block;
}
.layadmin-homepage-list-imgtxt .media-body .media-list .media-text div:nth-child(2) {
  margin-top: 5px;
}
.layadmin-homepage-list-imgtxt .media-body .media-list .layui-btn {
  height: 24px;
  line-height: 24px;
  padding: 0 20px;
  margin-bottom: 10px;
}
.homepage-top {
  margin-bottom: 20px;
}
.layui-card-header .panel-title .layui-icon {
  position: relative;
  left: 0;
}
.homepage-top .layui-card-body img {
  width: 100%;
}
.homepage-top .layui-card-body .margin-top10 {
  margin-top: 10px;
}
.homepage-bottom .layui-card-body {
  padding: 0;
}
.layadmin-private-letter-item {
  position: relative;
  display: block;
  padding: 10px 15px;
}
.homepage-bottom .layui-card-body .media-left {
  display: table-cell;
  padding-right: 10px;
}
.homepage-bottom .layui-card-body img {
  margin-top: 10px;
}
.homepage-bottom .layui-card-body .media-right {
  display: table-cell;
  vertical-align: top;
}
.homepage-bottom .layui-card-body a:hover {
  background-color: #f8f8f8;
}

/**********
  通讯录
 ***********/
.layadmin-contact-box {
  padding: 20px;
  background-color: #fff;
  border: 1px solid #e7eaec;
  overflow: hidden;
}
.layadmin-contact-box .layui-text-center img {
  max-width: 80%;
  margin-top: 5px;
}
.layadmin-contact-box .layui-text-center strong {
  display: block;
  margin-top: 5px;
}
.layadmin-contact-box .layadmin-title {
  margin: 5px 0 10px 0;
}
.layadmin-contact-box .layadmin-location {
  line-height: 25px;
  margin-bottom: 10px;
}
.layadmin-contact-box .layadmin-address {
  line-height: 1.5;
  margin-bottom: 20px;
}
.layadmin-contact-box .layadmin-address address {
  display: inline-block;
}

/**********
  客户列表
 ***********/
.layadmin-caller .layadmin-caller-search {
  position: relative;
  padding-bottom: 40px;
}
.layadmin-caller .layadmin-caller-search .layui-icon-search {
  position: absolute;
  top: 9px;
  left: 6px;
  font-size: 18px;
}
.layadmin-caller .layadmin-caller-search input {
  padding: 0 32px;
}
.layadmin-caller .layadmin-caller-search .layui-icon-close {
  position: absolute;
  top: 9px;
  right: 6px;
  font-size: 18px;
  cursor: pointer;
}
.layadmin-caller .layui-tab-content .layadmin-caller-item {
  padding: 20px 0;
  overflow: hidden;
  border-bottom: 1px solid #e0e0e0;
}
.layadmin-caller-item .layadmin-caller-main {
  margin-left: 20px;
}
.layadmin-caller-item .layadmin-caller-main p:first-child {
  padding-top: 0;
}
.layadmin-caller-item .layadmin-caller-main p {
  line-height: 100%;
  padding: 8px 0;
}
.layadmin-caller-item .layadmin-caller-main span {
  margin-left: 5px;
}
.layadmin-caller-item .layadmin-caller-main .layadmin-social-icon i {
  margin: 0 5px;
}
.layadmin-caller-item .layadmin-caller-main .layadmin-social-icon i:first-child {
  margin-left: 0;
}
.layadmin-caller .layadmin-caller-item button {
  margin-top: 22px;
}

/**********
  商品列表
 ***********/
.layadmin-goods-container {
  background-color: #fff;
  border: 1px solid transparent;
}
.layadmin-goods-content {
  padding: 20px;
}
.layadmin-goods-content .info {
  height: 40px;
  font-size: 14px;
  line-height: 20px;
  width: 100%;
  overflow: hidden;
  color: #666666;
  margin-bottom: 10px;
}
.layadmin-goods-content .price {
  font-size: 14px;
}
.layadmin-goods-content .price b {
  margin-right: 10px;
}
.layadmin-goods-content .flow {
  text-align: right;
  float: right;
}

/**********
  留言板
 ***********/
.layadmin-msgboard .layui-col-md12 {
  background-color: #fff;
  height: auto;
  padding-bottom: 50px;
}
.layadmin-msgboard .layui-form {
  padding: 45px 40px 0;
}
.layadmin-msgboard .layui-input-block {
  margin-left: 0;
}
.layadmin-msg-icon {
  overflow: hidden;
  margin-top: 4px;
}
.layadmin-msg-icon .layui-icon {
  font-size: 24px;
  line-height: 30px;
  margin-right: 15px;
  color: #c4cbcf;
}
.message-content {
  padding: 0 40px;
}
.message-content .media-body {
  margin-bottom: 50px;
}
.message-content .media-left {
  margin-right: 10px;
}
.message-content .media-body .pad-btm {
  padding-bottom: 0;
}
.message-content .layui-btn {
  height: auto;
  line-height: 26px;
  padding: 5px 30px;
  font-size: 16px;
}

/**********
  搜索结果
 ***********/
.layadmin-search-main .layui-card-header {
  height: auto;
  line-height: 24px;
  padding: 15px;
}
.layadmin-search-main .layui-card-header .layui-word-aux {
  padding: 0 !important;
}
.layadmin-search-list {
  margin-bottom: 10px;
  border-bottom: 1px solid #f8f8f8;
}
.layadmin-search-list li {
  margin-bottom: 20px;
  padding-bottom: 20px;
  clear: both;
}
.layadmin-search-list h3 {
  padding: 10px 0;
}
.search-item-cover {
  float: left;
  margin-right: 15px;
}

/**********
  消息中心
 ***********/
.layui-card .layui-tab-brief .layui-tab-title {
  height: 42px;
  border-bottom: 1px solid #f8f8f8;
}
.layui-card .layui-tab-brief .layui-tab-title li {
  margin: 0 15px;
  padding: 0;
  line-height: 42px;
}
.layui-card .layui-tab-brief .layui-tab-title li.layui-this {
  color: #333333;
}
.layui-card .layui-tab-brief .layui-tab-content {
  padding: 15px;
}

/**********
  工单系统
 ***********/
.layadmin-order-progress {
  position: relative;
  top: 15px;
}

/**********
  网站设置
 ***********/
.layui-form-item .layui-input-company {
  width: auto;
  padding-right: 10px;
  line-height: 38px;
}
