<div class="layui-card layadmin-breadcrumb">
  <div class="layui-breadcrumb" lay-filter="LAY-filter-breadcrumb">
    <a lay-href="">主页</a>
    <a><cite>页面</cite></a>
    <a><cite>留言板</cite></a>
  </div>
</div>

<div class="layui-fluid layadmin-msgboard">
  <div class="layui-row layui-col-space10">
    <div class="layui-col-md12">
      <div class="layui-form" lay-filter="LAY-filter-msgBoard">
        <div class="layui-form-item layui-form-text">
          <div class="layui-input-block">
            <textarea name="desc" class="layui-textarea" placeholder="请输入内容"></textarea>
          </div>
        </div>
        <div class="layui-form-item">
          <div class="layadmin-msg-icon layui-float-left">
            <a href="javascript:;">
              <i class="layui-icon layui-icon-face-smile-b"></i>
            </a>
            <a href="javascript:;">
              <i class="layui-icon layui-icon-picture"></i>
            </a>
            <a href="javascript:;">
              <i class="layui-icon layui-icon-link"></i>
            </a>
          </div>
          <div class="layui-input-block layui-float-right">
            <button class="layui-btn" lay-submit lay-filter="LAY-msgboard">
              发表
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="layui-col-md12 layadmin-homepage-list-imgtxt message-content">
      <script type="text/html" template>
        {{# for(let i=0; i<3; i++){ }}
          <div class="media-body">
            <a href="javascript:;" class="media-left layui-float-left">
              <img
                src="{{ layui.setter.api }}images/portrait.png"
                class="layui-circle"
                width="46"
                height="46"
              />
            </a>
            <div class="pad-btm">
              <p class="fontColor"><a href="javascript:;">胡歌</a></p>
              <p class="min-font">
                <span class="layui-breadcrumb" lay-separator="-">
                  <i class="layui-icon layui-icon-cellphone"></i>
                  <a href="javascript:;">从移动</a>
                  <a href="javascript:;">11分钟前</a>
                </span>
              </p>
            </div>
            <div style="padding-top: 10px;">
              历经打磨，@索尼中国再献新作品—OLED电视A8F完美诞生。很开心一起参加了A8F的“首映礼”！[鼓掌]正如我们演员对舞台的热爱，索尼对科技与艺术的追求才创造出了让人惊喜的作品。作为A1兄弟款，A8F沿袭了黑科技“屏幕发声技术”和高清画质，色彩的出众表现和高端音质，让人在体验的时候如同身临其境。A8F，这次的“视帝”要颁发给你！
              索尼官网预售： O网页链接 索尼旗舰店预售：
            </div>
          </div>
        {{# } }}
      </script>
      <div class="layui-row layui-text-center">
        <button class="layui-btn">更多</button>
      </div>
    </div>
  </div>
</div>
