<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>后台首页</title>
    <meta name="renderer" content="webkit" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0 minimum-scale=1.0, maximum-scale=1.0, user-scalable=0"
    />

    <link rel="stylesheet" href="../../../../layui/css/layui.css" media="all" />
    <link rel="stylesheet" href="../../../style/public.css" media="all" />
  </head>
<body>
    <div class="layui-card">
        <div class="layui-card-header">响应式组合</div>

        
        <div class="layui-card-body">
          <form action="" class="layui-form">
            <div class="layui-form-item">
              <label class="layui-form-label">名称</label>
              <div class="layui-input-block">
                <input id="edt_name" value="" type="text" class="layui-input" autocomplete="off"lay-verify="required" />
              </div>
            </div>
              <div class="layui-form-item">
                <label class="layui-form-label">脚本</label>
                <div class="layui-input-block">
                  <input id="edt_script" value="" type="text" class="layui-input" autocomplete="off"lay-verify="required" />
                </div>
              </div>
            <div class="layui-form-item">
              <div class="layui-input-block">
                <button class="layui-btn">
                  立即提交
                </button>
                <button type="reset" class="layui-btn layui-btn-primary">
                  重置
                </button>
              </div>
            </div>
          </form>
        </div>


      </div>
</body>
</html>