<div class="layui-card layadmin-breadcrumb">
  <div class="layui-breadcrumb" lay-filter="LAY-filter-breadcrumb">
    <a lay-href="">主页</a>
    <a><cite>用户</cite></a>
    <a><cite>后台管理员</cite></a>
  </div>
</div>

<div class="layui-fluid">
  <div class="layui-card">
    <div class="layui-form layui-card-header layadmin-card-header-auto" lay-filter="LAY-filter-admin-list">
      <div class="layui-form-item">
        <div class="layui-inline">
          <label class="layui-form-label">登入名</label>
          <div class="layui-input-block">
            <input
              type="text"
              class="layui-input"
              name="loginName"
              lay-verify="required"
              placeholder="请输入"
              autocomplete="off"
            />
          </div>
        </div>
        <div class="layui-inline">
          <label class="layui-form-label">手机</label>
          <div class="layui-input-block">
            <input
              type="text"
              class="layui-input"
              name="phone"
              lay-verify="required"
              placeholder="请输入"
              autocomplete="off"
            />
          </div>
        </div>
        <div class="layui-inline">
          <label class="layui-form-label">邮箱</label>
          <div class="layui-input-block">
            <input
              type="text"
              class="layui-input"
              name="email"
              lay-verify="required"
              placeholder="请输入"
              autocomplete="off"
            />
          </div>
        </div>
        <div class="layui-inline">
          <label class="layui-form-label">角色</label>
          <div class="layui-input-block">
            <select name="role" lay-verify="required">
              <option value="0">管理员</option>
              <option value="1">超级管理员</option>
              <option value="2">纠错员</option>
              <option value="3">采购员</option>
              <option value="4">推销员</option>
              <option value="5">运营人员</option>
              <option value="6">编辑</option>
            </select>
          </div>
        </div>
        <div class="layui-inline">
          <button class="layui-btn layadmin-btn-admin" lay-submit lay-filter="LAY-filter-admin-search">
            <i class="layui-icon layui-icon-search layadmin-icon-search-btn"></i>
          </button>
        </div>
      </div>
    </div>
    <div class="layui-card-body">
      <div style="padding-bottom: 10px;">
        <button class="layui-btn layadmin-btn-admin" data-type="batchDel">
          删除
        </button>
        <button class="layui-btn layadmin-btn-admin" data-type="add">
          添加
        </button>
      </div>
      <table id="LAY-id-admin-list" lay-filter="LAY-filter-admin-list"></table>
      <script type="text/html" id="LAY-id-checkTpl">
        {{# if(d.check === true){ }}
          <button class="layui-btn layui-btn-xs">已审核</button>
        {{# } else { }}
          <button class="layui-btn layui-btn-xs layui-btn-primary">未审核</button>
        {{# } }}
      </script>
      <script type="text/html" id="LAY-id-rowToolTpl">
        <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="edit">
          <i class="layui-icon layui-icon-edit"></i>
          编辑
        </a>
        {{# if(d.role === '超级管理员'){ }}
          <a class="layui-btn layui-btn-xs layui-btn-disabled">
            <i class="layui-icon layui-icon-delete"></i>
            删除
          </a>
        {{# } else { }}
          <a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="del">
            <i class="layui-icon layui-icon-delete"></i>
            删除
          </a>
        {{# } }}
      </script>
    </div>
  </div>
</div>
<script>
  layui.use('useradmin', layui.factory('useradmin')).use('table', () => {
    let $ = layui.$,
      view = layui.view,
      admin = layui.admin,
      form = layui.form,
      table = layui.table,
      // 表格顶部按钮事件
      event = {
        // 批量删除
        batchDel() {
          let checkStatus = table.checkStatus('LAY-id-admin-list'),
            checkData = checkStatus.data

          if (checkData.length === 0) {
            return layer.msg('请选择数据')
          }
          layer.confirm('确定删除选中的数据吗?', { icon: 3, title: '提示' }, (index) => {
            //执行 Ajax 后重载
            // $.ajax({})
            table.reload('LAY-id-admin-list')
            layer.msg('已删除')
          })
        },
        // 添加管理员
        add() {
          layer.open({
            type: 1,
            title: '添加管理员',
            id: 'LAY-popup-admin-add',
            area: ['420px', '450px'],
            success(layero, index) {
              view(this.id)
                .render('admin/list-form')
                .done(() => {
                  form.render(null, 'LAY-filter-adminList-form')
                  admin.setInputFocusEnd(layero.find('[name=loginName]'))
                  form.on('submit(LAY-filter-admin-submit)', (data) => {
                    let field = data.field
                    //提交 Ajax 成功后，关闭当前弹层并重载表格
                    //$.ajax({});
                    table.reload('LAY-id-admin-list')
                    layer.close(index)
                  })
                })
            },
          })
        },
      }
    form.render(null, 'LAY-filter-admin-list')
    admin.setInputFocusEnd($('.layui-form').find('[name=loginName]'))

    // 监听搜索
    form.on('submit(LAY-filter-admin-search)', (data) => {
      let field = data.field
      table.reload('LAY-id-admin-list', { where: field })
    })

    // 监听表格顶部按钮点击事件
    $('.layadmin-btn-admin').on('click', function () {
      let type = $(this).data('type')
      event[type] ? event[type].call(this) : ''
    })
  })
</script>
